DEBUG=TRUE
SECRET_KEY='secret'
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
VK_OAUTH2_KEY=12345678912345678912
VK_OAUTH2_SERVICE_KEY='secret'
BOT_TOKEN=12345678912:BBFtgr1JUUtFF-1xcG92lEexCsobWENSfFl
